---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/me/sport/activities/e1a02c8a-137b-4e52-a8f8-124d5afa3f3b?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - b31990e7-8583-4251-808f-9dc67b40f5d2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-166-app-msp-api-0
    body:
      encoding: UTF-8
      string: "{\"activityId\":\"e1a02c8a-137b-4e52-a8f8-124d5afa3f3b\",\"activityType\":\"ALL_DAY\",\"startTime\":\"2013-04-10T21:00:00Z\",\"activityTimeZone\":\"Europe/Riga\",\"status\":\"IN_PROGRESS\",\"deviceType\":\"FUELBAND\",\"metricSummary\":{\"calories\":132,\"fuel\":378,\"distance\":1.3527531623840332,\"steps\":1718,\"duration\":\"1:22:00.000\"},\"tags\":[],\"metrics\":[{\"intervalMetric\":1,\"intervalUnit\":\"MIN\",\"metricType\":\"FUEL\",\"values\":[\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\[...]
