---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/me/sport?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - b31990e7-8583-4251-808f-9dc67b40f5d2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Swooshlet:
      - app-msp-api-0 prd sin-171-app-msp-api-0
    body:
      encoding: UTF-8
      string: "{\"experienceTypes\":[\"FUELBAND\"],\"summaries\":[{\"experienceType\":\"ALL\",\"records\":[{\"recordType\":\"LIFETIMEFUEL\",\"recordValue\":\"105834\"}]},{\"experienceType\":\"FUELBAND\",\"records\":[{\"recordType\":\"LIFETIMEFUEL\",\"recordValue\":\"105834\"},{\"recordType\":\"DAILYGOALTARGETVALUE\",\"recordValue\":\"4000.0\"},{\"recordType\":\"CURRENTSTREAK\",\"recordValue\":\"0\"},{\"recordType\":\"TOTALDAILYGOALSACHIEVED\",\"recordValue\":\"12\"},{\"recordType\":\"LIFETIMEAVERAGEFUELDAY\",\"recordValue\":\"2939\"},{\"recordType\":\"LIFETIMEAVERAGEFUELWEEK\",\"recordValue\":\"17639\"},{\"recordType\":\"LIFETIMEAVERAGEFUELMONTH\",\"recordValue\":\"52917\"},{\"recordType\":\"NUMOFACTIVITIES\",\"recordValue\":\"36\"}]}]}"
  recorded_at: Wed, 07 Aug 2013 14:08:27 GMT
recorded_with: VCR 2.5.0
